# Thư mục môi trường ảo & Cache
.venv/
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# File cấu hình bảo mật (Tuyệt đối không push lên Git)
.env

# File rác của dbt & Airflow
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
airflow/logs/
